<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Berechnung des ZZ</title>
    <link th:href="@{/css/default.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <h1>Fehler bei Eingabe</h1>

    <svg width="450" height="20" style="display:block; margin:auto">
        <rect width="450" height="10" style="fill:rgb(0,0,255);stroke-width:10;stroke:rgb(0,0,0)" />
    </svg>

    <a href="/zzrechner">Rechner</a>


</body>
</html>