<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Berechnung des ZZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/default.css}" rel="stylesheet" />
</head>
<body>

    <h1>Berechnung des Zinseszinses</h1>
    <svg width="450" height="20" style="display:block; margin:auto">
        <rect width="450" height="10" style="fill:rgb(0,0,255);stroke-width:10;stroke:rgb(0,0,0)" />
    </svg>

    <div class="Aussen">

        <div class="Eingabe">

            <form action="#" th:action="@{/zzrechner}" th:object="${zzrechner}" method="post">

                <p>Anfangskapital in Euro</p>
                <input type="text" style="width:100%" th:field="*{kapital}" /> <!--variable kapital -->
                <p th:if="${#fields.hasErrors('kapital')}" th:errors="*{kapital}"></p>

                <p>Monatliche Sparrate in Euro</p>
                <input type="text" th:field="*{sparrateMonatlich}" style="width:100%" /> <!--variable sparrateMonatlich -->
                <p th:if="${#fields.hasErrors('sparrateMonatlich')}" th:errors="*{sparrateMonatlich}"></p>

                <p>Spardauer in Jahren</p>
                <input type="text" th:field="*{spardauerJahre}" style="width:100%"/> <!--variable spardauerJahre -->
                <p th:if="${#fields.hasErrors('spardauerJahre')}" th:errors="*{spardauerJahre}"></p>

                <p>Jährlicher Zinssatz in Prozent</p>
                <input type="text" th:field="*{prozentZinsen}" style="width:100%"/> <!--variable prozentZinsen -->
                <p th:if="${#fields.hasErrors('prozentZinsen')}" th:errors="*{prozentZinsen}"></p>

                <p>Ausschüttungsintervall</p>
                <select id="select1" th:field="*{ausschuttungsintervall}" value="2"> <!--variable ausschuttungsintervall -->
                    <option value="1">Monatlich</option>
                    <option value="2">Quartalsweise</option>
                    <option value="3">Jährlich</option>
                </select>
                <p th:if="${#fields.hasErrors('ausschuttungsintervall')}" th:errors="*{ausschuttungsintervall}"></p>

                <p></p><br>
                <button class="berechnung"> <p>Berechnen</p> </button>
            </form>
        </div>

        <svg width="550" height="15" style="display:block; margin:auto">
            <rect width="550" height="8" style="fill:rgb(255,255,255);stroke-width:6;stroke:rgb(255,255,255)" />
        </svg>

        <div class="Ausgabe">
            <p th:text="'Wenn du über ' + ${zzrechner.spardauerJahre} + ' Jahre,
                monatlich ' + ${zzrechner.sparrateMonatlich} + 'Euro zu ' + ${zzrechner.prozentZinsen} + '% investierst, kommst du am
                Ende auf ein Endkapital von '
                + ${zzrechner.endkapital} + 'Euro'"/>

            <p></p><br>

        </div>

    </div>

</body>
</html>